hdfs dfsadmin -safemode leave | hadoop fs -mkdir /tmp
hadoop fs -mkdir -p /user/hive/warehouse
hadoop fs -chmod g+w /tmp
hadoop fs -chmod g+w /user/hive/warehouse
hadoop fs -chown "{{ user_name }}" /user/hive
hadoop fs -chown "{{ user_name }}" /user/hive/warehouse
